@model SEP2.Models.FINANCE_WEB_USERS

@{
    ViewBag.Title = "EditProfile Form";
}

<link rel="stylesheet" href="~/css/register.css" type="text/css">

<div class="register_head">
</div>
<div class="register_formWrap">
    <div class="register_title">
        <span>
            <h1>Edit Profile Form</h1>
        </span>
    </div>
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)
        @Html.AntiForgeryToken()
        <div>
            @if (ViewBag.Message != null)
            {
                <span>
                    <font style="color:@ViewData["color"]"> @ViewBag.Message </font>
                </span>
            }
        </div>
        <table class="register_table">
            <tr>
                <th class="r_left">
                    @Html.LabelFor(model => model.VENDORNO):
                </th>
                <td class="r_right">
                    @Html.TextBoxFor(model => model.VENDORNO, new { @class = "txt" })
                    @Html.ValidationMessageFor(model => model.VENDORNO)
                </td>
            </tr>
            <tr>
                <th>
                    @Html.LabelFor(model => model.PASSWORD):
                </th>
                <td>
                    @Html.PasswordFor(model => model.PASSWORD, new { @class = "txt" })
                    @Html.ValidationMessageFor(model => model.PASSWORD)
                </td>
            </tr>
            <tr>
                <th>
                    @Html.LabelFor(model => model.REPASSWORD):&nbsp;&nbsp;
                </th>
                <td>
                    @Html.PasswordFor(model => model.REPASSWORD, new { @class = "txt" })
                    @Html.ValidationMessageFor(model => model.REPASSWORD)
                </td>
            </tr>
            <tr>
                <th>
                    @Html.LabelFor(model => model.EMAILADDR):
                </th>
                <td>
                    @Html.TextBoxFor(model => model.EMAILADDR, new { @class = "txt" })
                    @Html.ValidationMessageFor(model => model.EMAILADDR)
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <span class="half_box left"><input class="btn" type="submit" value="Cancel" onclick="history.back(-1)"></span>
                    <span class="half_box right"> <input class="btn" type="submit" value="Submit >"></span>
                </td>
            </tr>
        </table>
    }
</div>
