@{
    ViewBag.Title = "UserEdit";
}
<script>
@if(ViewBag.resetPWD != null)
{
    <text>alert("new password : @ViewBag.resetPWD");</text>
}
</script>

<h2 id="userEdit_title" style="text-align: center;">User table</h2>


<form action="~/UserEdit/UserEdit\" method="post">
    <table id="addUser" style="width:70%">
        <tr>
            <td width="15%">Supplier Account: </td>
            <td><input type="text" name="addUserID"></td>
            <td width="10%">Email: </td>
            <td><input type="text" name="addEmail"></td>
            <td><input type="submit" class="submitButton" name="AddUser" value="Add user"></td>
        <tr>
    </table>
</form>
<form action="~/UserEdit/UserEdit\" method="post">
    <div style="width:90%; margin:0 auto">
        <table id="myTable"></table>
    </div>
</form>
<table>
    <tr>
        <td>
            <form action="~/InvoiceDetail/InvoiceDetail\" method="get">
                <button class="submitButton" type="submit">&#60;-- back</button>
            </form>
        </td>
    </tr>
</table>
@* Load datatable css*@
<link href="~/Styles/style.css" rel="stylesheet" type="text/css" />
<meta name="viewport" content="width=device-width" />
<link href="//cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css" rel="stylesheet" />
@* Load datatabls js*@
@section Scripts
{
    <script src="//cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
    <script>
    var jsArr = new Array(@ViewBag.count);


    @for(var i = 0; i < @ViewBag.count; i++)
        {
            <text>jsArr[@i] = new Array(6);</text>

            if (!ViewBag.displayChange[i])
            {
                <text>jsArr[@i][0] = '@ViewBag.account[i]';</text>
                <text>jsArr[@i][1] = '@ViewBag.email[i]';</text>
            }
            else
            {
                <text>jsArr[@i][0] = '@ViewBag.account[i] : <input type="text" name="editUserID" value="@ViewBag.account[i]">';</text>
                <text>jsArr[@i][1] = '@ViewBag.email[i] : <input type="text" name="editEmail" value="@ViewBag.email[i]">';</text>
            }
            String setAdminName = "setAdmin" + ViewBag.account[i]; //for different checkBox

            if (ViewBag.admin[i])
            {
                <text>jsArr[@i][2] = '<input name ="@setAdminName" value="admin" type="checkbox" checked><button name="submitAdmin" type="submit" value="@ViewBag.account[i]">submit</button>';</text>
            }
            else
            {
                <text>jsArr[@i][2] = '<input name ="@setAdminName" value="admin" type="checkbox"><button name="submitAdmin" type="submit" value="@ViewBag.account[i]">submit</button>';</text>
            }

            <text>jsArr[@i][3] = '<button name="Reset" type="submit" value="@ViewBag.account[i]">Reset</button>';</text>
            <text>jsArr[@i][4] = '<button name="Edit"  type="submit" value="@ViewBag.account[i]">Edit</button><button name="submitBut" type="submit" value="@ViewBag.account[i]">submit</button><button name="cancel" type="submit" value="True">cancel</button>';</text>
            <text>jsArr[@i][5] = '<button name="Delete" type="submit" onclick="if (confirm(\'Do u want to delete \' + \' @ViewBag.account[i] \')) form.action=\'/UserEdit/UserEdit\' \; else return false \; " value="@ViewBag.account[i]">delete</button>';</text>
        }

    $(document).ready(function () {
        $('#myTable').DataTable({
            responsive: {
                details: false
            },
            data: jsArr,
            columns: [
                { title: "Supplier Account" },
                { title: "Email" },
                { title: "Admin" },
                { title: "Reset Password" },
                { title: "Edit user" },
                { title: "Delete user" }
            ]
        });
    });

    </script>
}